.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 10;
  position: sticky;
  top: 0;
  padding: 20px;
  border-bottom: 0.5px solid lightgray;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__right {
  display: flex;
}
.header__left > h1,
.header__right > h1 {
  font-size: 1.2rem;
  color: transparent;
  width: fit-content;
  background-clip: text;
  background-image: linear-gradient(to right, cornflowerblue, black);
}
